body {
    margin: 0;
    text-align: center;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

.top {
    height: 100%;
    padding-top: 16%;
    padding-left: 20%;
    padding-right: 20%;
}

.start {
    margin-bottom: 70px;
}

img#headshot{
    border: 5px dashed rgb(211, 224, 231);
    float: right;
    margin-top: 25px;
    margin-right: 50px;
}

h1 {
    padding-top: 20px;
    font-family: 'Press Start 2P', cursive;
    font-weight: lighter;
    font-size: 65px;
    color: #ffffff;
}

.headerdesc {
    font-family: 'Press Start 2P', cursive;
    font-size: 17px;
    color: #139d08;
}

.header {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.headertop {
    position: absolute;
    left: 0;
    top: 0;
}

.content {
    background-color: black;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 120px;
    border: rgba(255, 255, 255, 0.8) double 5px;
}

.contentbg {
    padding-top: 10px;
    background-color: #010101;
    opacity: 0.8;
    background-image:  radial-gradient(#ffffff 1.5px, transparent 1.5px), radial-gradient(#ffffff 1.5px, #000000 1.5px);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

p {
    margin-top: 60px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

p#desc {
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 18px;
}

h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 55px;
    color:#30911d;
    margin-bottom: 0;
}

.contentBlock {
    text-align:left;
    display: inline-block;
    width: 100%;
}

.contentBlock#text {
    height: 40px;
    margin:0;
    margin-bottom: 20px;
    margin-top: 50px;
}

h2#header{
    font-size:50px;
}

.graphic {
    padding: 20px;
    background-color: #101010;
    box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.25);
    transition: 0.2s;
    border-radius: 15%;
    width: 120px;
}

.graphic:hover {
    box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.3);
}

.graphic#left {
    display:block;
    margin-left:auto;
    margin-right: 20px;
}

.left {
    width: 45%;
    float: left;
}

.column {
    height: 160px;
}

.right {
    width: 55%;
    float: right;
}

.left#leadership {
    width: 28%;
}

.right#leadership{
    width: 71%;
}

.left#skills {
    width: 38%;
}

.right#skills {
    width: 61%;
}

ul {
    list-style: none;
    font-size: 18px;
    margin-top: 17px;
    margin-bottom: 17px;
}

li {
    margin-bottom: 10px;
}

.textdivText {
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: fit-content;
    height: 40px;
    font-size: 43px;
    color: #139d08;
    font-family: 'Passion One', cursive;
}

hr.textdiv {
    margin: 0px;
    border: 0px;
    border-bottom: 2px solid #139d08;
    margin-right: 20px;
    height: 50%;
    width: auto;
}

a:link {
    color: #139d08;
    text-decoration: none;
}

a:visited {
    color: rgb(81, 209, 205);
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.contactbutton {
    font-size: 17px;
    background-color: #139d08;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

a.contactbutton {
    color: white;
}

.contactbutton:hover {
    background-color: #119308;
    border: 4px solid rgba(255, 255, 255, 0.4);
}

hr {
    border: 0px;
    border-top: white 10px dotted;
    margin-top: 0;
    width: 90px;
    margin-bottom: 80px;
}

dl {
    height: fit-content;
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
    font-size: 18px;
}

dt {
    width: 15%;
    float: left;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
  
dd {
    float: left;
    padding: 0;
    margin: 0;
    width: 85%;
    margin-bottom: 10px;
}

dt#skills {
    width: 33%
}

dd#skills {
    margin-left: auto;
    width: 67%;
}

.bottom {
    margin-top: 30px;
    background-color:#000000;
    font-weight:bolder;
}

p#bottom {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #050505;
    border-top: white 1px solid;
}

h1#contact {
    color: #139d08;
    font-size: 40px;
}

body#contact {
    margin-top: 50px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 24px;
    font-weight: lighter;
}

.card {
    font-size: 18px;
    box-shadow: 0px 0px 5px 3px rgba(255,255,255,0.1);
    transition: 0.3s;
    background-color:#101010;
    padding: 35px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.card:hover {
    box-shadow: 0px 0px 10px 10px rgba(255,255,255,0.1);
}

form {
    width: 100%;
}

input,textarea {
    margin-top: 5px;
    padding: 5px;
    margin-bottom: 10px;
    width: 90%;
}

hr#contact {
    border-color: #139d08;
}

input#button {
    margin-top: 30px;
    width:fit-content;
    font-size: 17px;
    font-weight: lighter;
    background-color: #139d08;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 5px;
}

input#button:hover {
    border: 4px solid rgba(255, 255, 255, 0.2);
    color:rgba(255, 255, 255);
    padding: 8px;
    padding-left: 19px;
    padding-right: 19px;
}